

<div class="container mat-elevation-z8 filterl">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" class="filtert">

    <!-- Position Column -->
   <div>
     <ng-container matColumnDef="employeeID">
       <mat-header-cell *matHeaderCellDef> employeeID </mat-header-cell>
       <mat-cell *matCellDef="let employee" #givenname (click)="openDialog()"> {{employee.employeeID}} </mat-cell>
     </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let employee" #givenname (click)="goToIssues(employee.employeeID)"> {{employee.givenname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Lastname">
      <mat-header-cell *matHeaderCellDef> Lastname </mat-header-cell>
      <mat-cell *matCellDef="let employee" #familyname (click)="showIssues(employee.employeeID)"> {{employee.familyname}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Issues">
      <mat-header-cell *mathHeaderCellDef>Issues</mat-header-cell>
      <mat-cell *matCellDef="let employee" #issues (click)="showIssues(employee.employeeID)"> {{employee.issues.length}} </mat-cell>
    </ng-container>
   </div>
    <!-- Name Column -->
    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row  *matRowDef="let data; columns: displayedColumns;">{{this.data}}</mat-row>
  </mat-table>
</div>