<div [@fadeIn]>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center htext">OnTime</h1>
      <div class="row center">
        <h4 class="header col s12 light">
          Get started : Manage your team!
        </h4>
      <div class="row center">
        <button class="orderbtn" (click)="login()">Log in</button>
      </div>
      <br>
      <br>

    </div>
  </div>

  <div class="container">
    <div class="section ">
      <div class="row">
        <div class="col s12 m4 lblock">
          <div class="icon-block">
            <h4 class="center blockhead">50 Gebruikers</h4>
            <div class="center">
              <p>50 Gebruikers</p>
              <p>Ongelimiteerde toegang tot de applicatie</p>
              <p>Dashboard space</p>
              <p><b>€3.200</b></p>
              <button class="orderbtn" href="/order">Order now</button>
            </div>
          </div>
        </div>

        <div class="col s12 m4 mblock">
          <div class="icon-block">
            <h4 class="center blockhead">200 Users</h4>
            <div class="center">
              <p>200 Gebruikers</p>
              <p>Ongelimiteerde toegang tot de applicatie</p>
              <p>Dashboard space</p>
              <p><b>€11.500</b> <b class="red-text">-10%</b></p>
              <button class="orderbtn" href="/order">Order now</button>
              </div>
          </div>
        </div>

        <div class="col s12 m4 rblock">
          <div class="icon-block">
            <h4 class="center blockhead">500 Users</h4>
            <div class="center">
              <p>500 Gebruikers</p>
              <p>Ongelimiteerde toegang tot de applicatie</p>
              <p>Dashboard space</p>
              <p><b>€50.000</b> <b class="red-text">-20%</b></p>
              <button class="orderbtn" href="/order">Order now</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br>
    <br>
  </div>

</div>
