Ontime/Frontend/App/.gradle
Ontime/Frontend/App/.idea
Ontime/Backend/OnTimeBackend/obj
Ontime/Backend/OnTimeBackend/.vs
Ontime/Frontend/App/app/app.iml
Ontime/Frontend/App/local.properties
Ontime/Backend/OnTimeBackend/bin
Ontime/Backend/.vs/OnTimeBackend/v15/.suo
Ontime/Backend/OnTimeBackend/node_modules/
Ontime/Backend/.vs/
Ontime/Frontend/App/build/
