<mat-toolbar color="primary">

  <button mat-button routerLink="/">Home</button>
  <button mat-button (click)="change()">Concept</button>
  <button class="swaggerbutton" mat-button><a href="http://ontimeapi.azurewebsites.net/swagger">Swagger API</a></button>
  <button *ngIf="!user" routerLink="/register" mat-button>Register</button>
  <span class="fill-space"></span>
  <button *ngIf="!user" routerLink="/login" mat-button>Login</button>
  <div *ngIf="user">


  <button  mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()" >
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
      <button (click)="deleteUser()" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete your account</span>
      </button>

    </mat-menu>
  </div>

</mat-toolbar>


