<div class="container center">
    <div class="row content">

            <div class="jumbotron">
                    <h1>Dashboard</h1>      
                  </div>
                      

        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">

                <div class="well">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="allOptions">
                        <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="/assets/BuildingTower.png"></agm-marker>
                    </agm-map>
                </div>

                        
                        <div class="jumbotron">
                          <h3>Metrics</h3>      
                        </div>
                            
                 

                <div class="row">
                    <div class="col-sm-3">
                        <div *ngIf="losthours" class="well smallmetrics">
                            <h4>Cost for lost hours</h4>
                            <h1> € {{losthours}} </h1>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div *ngIf="countemployees" class="well smallmetrics">
                            <h4>Count of your employees</h4>
                            <h1> {{countemployees}} </h1>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div *ngIf="topreason" class="well smallmetrics">
                            <h4>Top reason</h4>
                            <h1> {{topreason?.reason}} </h1>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div *ngIf="weekday" class="well smallmetrics">
                            <h4>Top weekday</h4>
                            <h1> {{weekday[0]}} </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div *ngIf="doughnutloaded" class="well">
                                <h4> Employees with the most absences </h4>

                            <div style="display: block">
                                <canvas baseChart width="200" height="200"
                                            [data]="doughnutChartData"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType"
                                            ></canvas>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div *ngIf="doughnutloaded2" class="well">
                                <h4> Most occuring reasons for absences </h4>
                            <div style="display: block">
                                <canvas baseChart width="200" height="200"
                                            [data]="doughnutChartData2"
                                            [labels]="doughnutChartLabels2"
                                            [chartType]="doughnutChartType"
                                            ></canvas>
                              </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div *ngIf="datareceived" class="col-sm-12">

                        <div class="well">
                                <h4> Total absences each month </h4>

                          <div style="display: block;">
                            <canvas baseChart width="400" height="200"
                                        [datasets]="barChartData"
                                        [labels]="labels"
                                        [options]="barChartOptions"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                    </div>
                  
                </div>


            </div>

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

                    <div class="list-group">
                            <a  class="list-group-item active">Todays absencies </h4>
                            </a>
        
                            <a *ngFor="let issue of openissues" class="list-group-item ">
                              <h4 class="list-group-item-heading">{{issue?.employee.givenname}} {{issue?.employee.familyname}}</h4>
                                      
                          </a>
                         

                <div class="list-group">
                    <a  class="list-group-item active">
                        <h4 class="list-group-item-heading">Open absences </h4>
                    </a>

                    <a *ngFor="let issue of openissues" class="list-group-item ">
                      <h4 class="list-group-item-heading">{{issue?.employee.givenname}} {{issue?.employee.familyname}}</h4>
                      <p class="list-group-item-text"> {{issue?.reason.reason}} </p>
                      <p class="list-group-item-text"> {{issue?.timespan | slice:0:8}} </p>
                      <p class="list-group-item-text"> <strong>ETA: {{issue?.eta}} </strong></p>

                  </a>
                  <a *ngIf="noopenissues"  class="list-group-item ">
                    <h4 class="list-group-item-heading"> No open absences </h4>

                </a>

                </div>
            </div>


        </div>
    </div>



</div>
