<div class="container" [@routerTransition]>
    <div class="card card-container">
           
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <div *ngIf="error" class="alert alert-danger">
                <strong>Danger!</strong> {{error?.error_description}}
              </div>
        <form  [formGroup]="loginForm" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input matInput  formControlName="username" placeholder="Username" id="username" type="text">
            <input matInput  formControlName="password" placeholder="Password" id="password" type="password" (keyup.enter)="login()">
            
           <!-- <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button (click)="login()"  class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!loginForm.valid" mat-button>Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
