<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dytstudio.signup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:noHistory="true" />
        <activity
            android:name=".UserDashboard"
            android:label="@string/title_activity_user_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Login"
            android:noHistory="true" />
        <activity android:name=".EmployerSeekerPackage.EmployerSeeker"></activity>
    </application>

    <uses-sdk android:minSdkVersion="24"
        android:targetSdkVersion="24"
         />

</manifest>