<div class="container">
    <div class="row">

      <h1>Profile</h1>

    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"> {{user?.name | tocapital}} </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                      <tr>
                          <td>EmployerID</td>
                          <td>{{user?.employerID}}</td>
                        </tr>
                    <tr>
                      <td>username</td>
                      <td>{{user?.username}}</td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td>{{user?.name | tocapital}}</td>
                    </tr>
                    
                    <tr>
                      <td>Created at</td>
                      <td> {{user?.createdAt}} </td>
                    </tr>


                    
                  </tbody>
                </table>
          
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"> Cost of employee in hour</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 "> 
                <form  [formGroup]="costofhourgroup" class="form-signin" novalidate>
                  

                  <input matInput formControlName="costofhour" placeholder="Cost of hour" id="costofhour" type="text">
                  <button (click)="setHourWeight()"  class="btn btn-lg btn-primary btn-block btn-signin"  mat-button>Update cost hour</button>
  
                  </form>
          
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  toppad" >
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Post Address</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 "> 
                
                <form  [formGroup]="addressform" class="form-signin" novalidate>
                  

                <input matInput formControlName="streetname" placeholder="Streetname" id="streetname" type="text">
                <input matInput formControlName="housenumber" placeholder="Housenumber" id="housenumber" type="text">
                <input matInput formControlName="city" placeholder="City" id="city" type="text">
                <input matInput formControlName="zipcode" placeholder="Zipcode" id="zipcode" type="text">
                <input matInput formControlName="country" placeholder="Country" id="country" type="text">
                <button (click)="postaddress()"  class="btn btn-lg btn-primary btn-block btn-signin"  mat-button>Post Address</button>

                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>



  