<div class="concept">
<h1> Ontime </h1>
  <br>
  <div class="p1">
    <h2>Who are we?</h2>
 <p>
  We are a small group of students. Who became friends to improve the world.
  We will try to do this with our background in IT. This gives us the easiest and up-to-date ways and solutions to try and tackle the problems we get annoyed to.
  Now don’t get us wrong. We aim to solve small issues to make everyone’s life just that bit better.
  A perfect example off this is our OnTime™ app!
 </p>
  </div>

 <h2> What is OnTime™?</h2>
  <div class="p2">
 <p> Ontime™ is an app/dashboard that we have created that will hopefully in the future will be known and used all over the world.
  Our goal is very simple. We’ve all had some days, where we had a meeting, school, work, etc and that we’ve been late to one of these atleast once.
  Our goal is to make it an easy and streamlined experience to:
  A: Let your superior know you are going to be late, how long and why.
  B: To let a superior easily monitor his workers and the times they’ve been too late.
 </p>
  </div>
</div>

